set_location IN_MUX_bfv_1_4_0_ 1 4 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_6_16_0_ 6 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_4_16_0_ 4 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_9_0_ 12 9 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 6 5 4 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_3_THRU_LUT4_0 6 16 4 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_2_THRU_LUT4_0 6 16 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_1_THRU_LUT4_0 6 16 2 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_0_THRU_LUT4_0 6 16 1 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_THRU_LUT4_0 4 16 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_THRU_LUT4_0 4 16 1 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.un1_q_cry_1_s1_THRU_LUT4_0 12 9 2 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.un1_q_cry_0_s1_THRU_LUT4_0 12 9 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI4JSO_1_uu2.w_addr_displaying_nesr_1_REP_LUT4_0 6 5 1 #SB_LUT4
set_location uu2.vram_rd_clk_det_1_THRU_LUT4_0 2 6 1 #SB_LUT4
set_location uu2.vram_rd_clk_det_0_THRU_LUT4_0 2 6 0 #SB_LUT4
set_location uu2.trig_rd_det_1_THRU_LUT4_0 5 3 5 #SB_LUT4
set_location uu2.r_data_reg_7_THRU_LUT4_0 2 4 7 #SB_LUT4
set_location uu2.r_data_reg_6_THRU_LUT4_0 2 4 6 #SB_LUT4
set_location uu2.r_data_reg_5_THRU_LUT4_0 2 4 5 #SB_LUT4
set_location uu2.r_data_reg_4_THRU_LUT4_0 2 4 4 #SB_LUT4
set_location uu2.r_data_reg_3_THRU_LUT4_0 2 4 3 #SB_LUT4
set_location uu2.r_data_reg_2_THRU_LUT4_0 2 4 2 #SB_LUT4
set_location uu2.r_data_reg_1_THRU_LUT4_0 2 4 1 #SB_LUT4
set_location uu2.r_data_reg_0_THRU_LUT4_0 2 4 0 #SB_LUT4
set_location uu2.bitmap_111_THRU_LUT4_0 6 4 4 #SB_LUT4
set_location uu0.sec_clkD_THRU_LUT4_0 4 8 4 #SB_LUT4
set_location uu0.delay_line_1_THRU_LUT4_0 4 7 7 #SB_LUT4
set_location buart.Z_rx.shifter_fast_7_THRU_LUT4_0 4 14 3 #SB_LUT4
set_location buart.Z_rx.shifter_fast_6_THRU_LUT4_0 4 15 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast_5_THRU_LUT4_0 5 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast_4_THRU_LUT4_0 5 14 5 #SB_LUT4
set_location buart.Z_rx.shifter_fast_3_THRU_LUT4_0 8 15 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast_2_THRU_LUT4_0 7 14 4 #SB_LUT4
set_location buart.Z_rx.shifter_fast_1_THRU_LUT4_0 7 14 7 #SB_LUT4
set_location buart.Z_rx.shifter_fast_0_THRU_LUT4_0 5 13 7 #SB_LUT4
set_location buart.Z_rx.shifter_7_rep1_THRU_LUT4_0 8 15 7 #SB_LUT4
set_location buart.Z_rx.shifter_7_THRU_LUT4_0 4 15 7 #SB_LUT4
set_location buart.Z_rx.shifter_6_rep1_THRU_LUT4_0 8 15 3 #SB_LUT4
set_location buart.Z_rx.shifter_6_THRU_LUT4_0 4 15 4 #SB_LUT4
set_location buart.Z_rx.shifter_5_rep1_THRU_LUT4_0 8 15 5 #SB_LUT4
set_location buart.Z_rx.shifter_5_THRU_LUT4_0 5 14 7 #SB_LUT4
set_location buart.Z_rx.shifter_4_rep1_THRU_LUT4_0 4 14 0 #SB_LUT4
set_location buart.Z_rx.shifter_4_THRU_LUT4_0 4 14 5 #SB_LUT4
set_location buart.Z_rx.shifter_3_rep1_THRU_LUT4_0 4 14 2 #SB_LUT4
set_location buart.Z_rx.shifter_3_THRU_LUT4_0 8 15 4 #SB_LUT4
set_location buart.Z_rx.shifter_2_rep1_THRU_LUT4_0 4 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_2_THRU_LUT4_0 9 14 6 #SB_LUT4
set_location buart.Z_rx.shifter_1_rep1_THRU_LUT4_0 4 14 1 #SB_LUT4
set_location buart.Z_rx.shifter_1_THRU_LUT4_0 9 14 3 #SB_LUT4
set_location buart.Z_rx.shifter_0_rep1_THRU_LUT4_0 8 15 2 #SB_LUT4
set_location buart.Z_rx.shifter_0_THRU_LUT4_0 8 15 0 #SB_LUT4
set_location buart.Z_rx.hh_1_THRU_LUT4_0 2 15 2 #SB_LUT4
set_location buart.Z_rx.hh_0_THRU_LUT4_0 1 12 3 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c_RNIMGRP5_3_buart.Z_rx.bitcount_es_4_REP_LUT4_0 6 14 4 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c_RNIKERP5_2_buart.Z_rx.bitcount_es_3_REP_LUT4_0 6 14 6 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c_RNIICRP5_1_buart.Z_rx.bitcount_es_2_REP_LUT4_0 6 14 1 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c_RNIICRP5_1_buart.Z_rx.bitcount_2_rep1_es_REP_LUT4_0 6 14 2 #SB_LUT4
set_location Lab_UT.uu0.delay_line_1_THRU_LUT4_0 4 7 4 #SB_LUT4
set_location Lab_UT.displayAlarm_1_THRU_LUT4_0 9 8 1 #SB_LUT4
set_location Lab_UT.dictrl.nextState_al_RNISS2D9_0_Lab_UT.dictrl.currState_al_0_0_REP_LUT4_0 9 11 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_al_RNIHVQHE_0_Lab_UT.dictrl.currState_al_0_1_REP_LUT4_0 9 11 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNIKKEKM_Lab_UT.dictrl.currState_2_2_REP_LUT4_0 7 9 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNI39J171_Lab_UT.dictrl.currState_ret_2_REP_LUT4_0 4 8 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIS2IML1_2_Lab_UT.dictrl.currState_0_ret_26_REP_LUT4_0 6 10 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIRPGDN_1_Lab_UT.dictrl.currState_0_ret_0_REP_LUT4_0 1 11 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIQ7IPD1_0_Lab_UT.dictrl.currState_0_ret_21_REP_LUT4_0 4 10 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIL8B7M_1_Lab_UT.dictrl.currState_ret_REP_LUT4_0 2 11 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNII4T093_1_2_Lab_UT.dictrl.currState_0_ret_11_REP_LUT4_0 8 11 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIFK4DG_1_Lab_UT.dictrl.currState_3_fast_3_REP_LUT4_0 8 14 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIFK4DG_1_Lab_UT.dictrl.currState_3_3_rep1_REP_LUT4_0 2 11 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIFK4DG_1_Lab_UT.dictrl.currState_3_3_REP_LUT4_0 8 14 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIFGT042_0_Lab_UT.dictrl.currState_0_ret_24_REP_LUT4_0 2 12 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI82L3I6_2_Lab_UT.dictrl.currState_0_ret_22_REP_LUT4_0 8 10 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI7OMM33_1_Lab_UT.dictrl.currState_ret_0_REP_LUT4_0 8 10 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNIAVHPS_Lab_UT.dictrl.currState_2_1_REP_LUT4_0 2 11 3 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[2] 1 2 6 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIQOQA1[3] 1 5 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_18_RNIH2D93 8 12 0 #SB_LUT4
set_location Lab_UT.didp.curr_LED_RNIFBM52[1] 12 10 7 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNO[0] 12 8 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_12[1] 1 10 7 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNO[3] 9 7 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_15 8 11 7 #SB_DFFSS
set_location Lab_UT.dictrl.decoder.g0_1 4 13 3 #SB_LUT4
set_location Lab_UT.displayAlarm_RNO[4] 12 5 1 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_littleL_4 8 14 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep1_RNO 5 12 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNI03P31[4] 4 5 3 #SB_LUT4
set_location Lab_UT.display.cnt_RNI5EC11[0] 9 4 3 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNO[1] 11 6 0 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_3 6 3 4 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNO[0] 9 7 5 #SB_LUT4
set_location buart.Z_tx.shifter[2] 2 5 3 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_15 7 15 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_RNI3HN91[3] 4 10 5 #SB_LUT4
set_location uu2.bitmap[180] 7 7 4 #SB_DFFNSR
set_location Lab_UT.display.cnt[2] 11 5 4 #SB_DFFSR
set_location uu2.r_addr[5] 9 6 0 #SB_DFFSR
set_location Lab_UT.didp.Mtens_alarm.q_RNIGGJ64[2] 6 8 2 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAMtens_RNIDTLN4 5 9 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast[2] 7 14 4 #SB_DFFER
set_location Lab_UT.dictrl.decoder.g0_3_0 6 16 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[14] 2 1 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[3] 4 16 2 #SB_DFF
set_location Lab_UT.bcd2segment4.segmentUQ_0_o2[5] 7 8 4 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[7] 4 6 0 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNIOCVC5_0[1] 8 6 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNI71SJ6_0 6 8 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNI4A77D 7 6 4 #SB_LUT4
set_location Lab_UT.display.dOut[3] 9 5 7 #SB_DFF
set_location Lab_UT.didp.Sones_subtractor.q[0] 12 7 5 #SB_DFFSR
set_location Lab_UT.didp.Sones_alarm.q[0] 9 6 5 #SB_DFFSR
set_location Lab_UT.didp.Mones_subtractor.un1_q_cry_2_s1_c 12 9 2 #SB_CARRY
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_4 4 11 5 #SB_LUT4
set_location uu2.w_addr_user_RNIMJ3O2[2] 8 3 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIEFIL2[0] 4 5 4 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNIP7N11[1] 5 8 4 #SB_LUT4
set_location Lab_UT.dictrl.dicLdStens 8 9 3 #SB_DFF
set_location Lab_UT.dictrl.currState_0_ret_29_RNO_2 1 10 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_10_RNO 5 10 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[2] 6 6 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[8] 2 2 1 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_5[1] 6 11 7 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNI0GB6H[0] 4 11 1 #SB_LUT4
set_location uu2.w_addr_displaying[5] 7 4 3 #SB_DFFNSR
set_location buart.Z_rx.shifter_2_rep1 4 14 6 #SB_DFFER
set_location Lab_UT.didp.Stens_subtractor.q_RNIBBF11[2] 9 8 4 #SB_LUT4
set_location uu2.vbuf_w_addr_user.result_1[8] 7 3 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_2_c 4 16 1 #SB_CARRY
set_location Lab_UT.dictrl.currState_0_ret_28 6 12 4 #SB_DFF
set_location Lab_UT.dictrl.currState_2_fast_RNIT3362[0] 2 13 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_4_c 1 6 3 #SB_CARRY
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 8 2 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_al_0_RNIRBNK8[0] 9 11 1 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[7] 5 4 3 #SB_LUT4
set_location uu2.bitmap_RNIHNN91[40] 5 5 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m34 6 13 7 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_atSign 9 13 1 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[6].un328_ci_3 2 8 5 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI1JET2[7] 6 6 4 #SB_LUT4
set_location uu0.delay_line_RNILLLG7[1] 4 6 2 #SB_LUT4
set_location Lab_UT.uu0.delay_line_RNII8EF5[1] 8 5 7 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q[0] 9 7 5 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_RNO_7[1] 1 11 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNII4T093[2] 7 10 6 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i_a3[4] 7 6 5 #SB_LUT4
set_location resetGen.reset_count_RNO[4] 6 3 2 #SB_LUT4
set_location buart.Z_rx.shifter[2] 9 14 6 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[2] 6 16 2 #SB_CARRY
set_location Lab_UT.didp.Mones_subtractor.q_RNO_0[3] 12 9 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_21 4 13 6 #SB_LUT4
set_location Lab_UT.displayAlarm[5] 9 10 5 #SB_DFF
set_location buart.Z_rx.bitcount_es_RNIV4M42[0] 6 15 2 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNI3O55[3] 5 16 5 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 8 1 7 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNIN5N11[0] 5 8 1 #SB_LUT4
set_location buart.Z_tx.shifter[4] 2 5 5 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.g1_4_1 5 15 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g1_2 8 14 2 #SB_LUT4
set_location uu2.trig_rd_det_RNIJIIO[1] 5 3 3 #SB_LUT4
set_location uu2.bitmap_RNI6RO21[162] 6 4 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIJ59B3[2] 2 11 2 #SB_LUT4
set_location uu2.w_addr_displaying_nesr_RNI4JSO[1] 4 6 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast[4] 5 14 5 #SB_DFFER
set_location uu2.w_addr_user_RNO[6] 9 3 2 #SB_LUT4
set_location uu2.un1_w_user_cr_4 8 4 0 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[1] 4 16 7 #SB_LUT4
set_location Lab_UT.uu0.l_count[4] 9 1 6 #SB_DFFER
set_location uu2.l_count_RNIFGGK1[3] 2 7 2 #SB_LUT4
set_location buart.Z_rx.bitcount_es[3] 6 14 6 #SB_DFFES
set_location Lab_UT.bcd2segment1.segmentUQ_0[5] 7 6 0 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[4].un306_ci 2 7 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNIQAFK3 5 12 6 #SB_LUT4
set_location buart.Z_rx.shifter_RNI1D8L1[4] 4 15 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNIKH8P2 4 11 2 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q[1] 12 8 4 #SB_DFFSR
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1 9 1 1 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q[2] 9 9 2 #SB_DFFSR
set_location uu2.bitmap[162] 6 8 7 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNI8NSO[2] 6 4 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_7_RNI03VH1 9 12 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2[2] 7 9 6 #SB_DFFSR
set_location uu2.r_data_reg[0] 2 4 0 #SB_DFFNE
set_location uu0.l_count_RNO[13] 1 1 0 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[1] 1 4 1 #SB_LUT4
set_location buart.Z_tx.bitcount[1] 1 4 1 #SB_DFFR
set_location Lab_UT.uu0.l_count[1] 9 1 0 #SB_DFFER
set_location Lab_UT.didp.Sones_alarm.q_RNO[3] 9 7 4 #SB_LUT4
set_location uu2.w_addr_user_nesr[7] 7 3 7 #SB_DFFNESR
set_location uu2.w_addr_user_RNIARA43[2] 8 3 4 #SB_LUT4
set_location resetGen.reset_count[3] 8 5 3 #SB_DFF
set_location Lab_UT.dictrl.dicLdSones_RNISPBP3 12 7 1 #SB_LUT4
set_location Lab_UT.uu0.l_precount_RNO[0] 11 2 5 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNO[0] 12 7 5 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNI3O7B1[0] 8 7 1 #SB_LUT4
set_location uu0.l_count[0] 1 2 3 #SB_DFFER
set_location buart.Z_rx.shifter_4_rep1_RNI7DDT 2 14 6 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q[3] 9 7 1 #SB_DFFSR
set_location Lab_UT.dictrl.currState_2_RNI1O2A_0[1] 5 11 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_15_RNILDPC8 9 11 2 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[18].un220_ci 2 2 4 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNO_0[2] 11 7 3 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q[2] 12 8 6 #SB_DFFSR
set_location Lab_UT.dictrl.r_enable4_RNIFP5N8 5 6 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO[1] 1 11 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_fast[3] 8 14 4 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_8 4 4 7 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNI0QLC5[1] 7 5 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_fast_RNI13TV[0] 2 9 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_26 6 10 4 #SB_DFF
set_location Lab_UT.didp.Stens_subtractor.q[1] 11 6 0 #SB_DFFSR
set_location Lab_UT.dictrl.r_alarm_or_time_RNO 8 10 7 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i_a3_0[2] 7 8 5 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_0_0_c_RNO 1 5 5 #SB_LUT4
set_location Lab_UT.display.cnt_RNIFA8M_1[2] 9 5 2 #SB_LUT4
set_location Lab_UT.display.cnt_RNID88M[1] 11 5 6 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[8] 5 4 2 #SB_LUT4
set_location uu2.vbuf_count.result_1[6] 2 8 4 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNO_1[3] 12 7 7 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNI3RK11[1] 7 9 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNO 6 9 7 #SB_LUT4
set_location uu2.bitmap[215] 7 5 4 #SB_DFFNSR
set_location resetGen.escKey_4 8 13 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2 8 9 5 #SB_DFF
set_location uu2.r_data_reg[3] 2 4 3 #SB_DFFNE
set_location uu0.l_count[13] 1 1 0 #SB_DFFER
set_location buart.Z_tx.bitcount[2] 1 4 2 #SB_DFFR
set_location Lab_UT.uu0.l_count[2] 7 1 6 #SB_DFFER
set_location Lab_UT.didp.Sones_subtractor.q_7_i_o2[3] 12 7 6 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNIOA4SB 5 5 5 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_littleA_2_0 4 13 0 #SB_LUT4
set_location uu2.l_count[6] 2 8 4 #SB_DFFR
set_location buart.Z_rx.shifter_0_rep1 8 15 2 #SB_DFFER
set_location Lab_UT.display.dOut_RNO_0[2] 11 4 5 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO[3] 11 9 7 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_8 5 12 2 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_2_2 7 14 0 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[7] 6 5 2 #SB_DFFNESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 2 2 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_6[1] 1 11 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m17 5 9 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIKSEU7[0] 5 9 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[2] 1 6 1 #SB_DFF
set_location Lab_UT.didp.Mtens_subtractor.q_RNIE7IL1[3] 11 9 2 #SB_LUT4
set_location uu0.l_count[7] 2 2 6 #SB_DFFER
set_location Lab_UT.dictrl.nextState_RNO_11[1] 6 11 6 #SB_LUT4
set_location uu2.vbuf_w_addr_user.counter_gen_label[8].un448_ci_0 7 3 5 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[2] 2 3 4 #SB_LUT4
set_location Lab_UT.display.rdy 9 4 1 #SB_DFF
set_location Lab_UT.display.dOut_RNO[4] 9 4 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNIFHD18[1] 4 10 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNIRM2Q 7 13 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIOB6H1[2] 9 12 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_23 8 10 2 #SB_DFF
set_location uu2.w_addr_displaying_RNIEK5V6[0] 4 4 6 #SB_LUT4
set_location uu2.r_data_rdy 1 5 3 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[2] 1 6 1 #SB_LUT4
set_location Lab_UT.uu0.vbuf_precount_cntrl1.result_1[3] 9 2 1 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[6] 8 1 0 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q[0] 9 6 1 #SB_DFFSR
set_location Lab_UT.dictrl.currState_0_ret_28_RNO_2 1 11 3 #SB_LUT4
set_location Lab_UT.dictrl.dicLdMones_RNO 11 10 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_14_RNID3D61 8 8 5 #SB_LUT4
set_location uu2.vbuf_count.result_1[5] 2 7 7 #SB_LUT4
set_location uu0.delay_line[1] 4 7 7 #SB_DFFR
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[17] 8 1 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNIUJ5K6_1 5 5 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNIO9JG3 2 9 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_10 5 10 0 #SB_DFFSR
set_location Lab_UT.bcd2segment1.segment_1[6] 7 6 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_0[1] 1 11 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_3[3] 8 14 6 #SB_DFF
set_location uu2.w_addr_displaying_RNIFCPV4[8] 7 4 6 #SB_LUT4
set_location uu2.r_data_reg[6] 2 4 6 #SB_DFFNE
set_location uu0.l_count_RNO[15] 1 1 2 #SB_LUT4
set_location uu0.l_count[14] 2 1 7 #SB_DFFER
set_location Lab_UT.uu0.l_precount[3] 9 2 1 #SB_DFFR
set_location Lab_UT.uu0.l_count_RNIRSCC5[3] 9 2 4 #SB_LUT4
set_location Lab_UT.uu0.l_count[16] 8 1 3 #SB_DFFER
set_location uu2.mem0.ram512X8_inst_RNO_13 4 4 1 #SB_LUT4
set_location uu2.l_count[1] 4 7 1 #SB_DFFR
set_location uu2.bitmap[72] 5 7 1 #SB_DFFNSR
set_location uu0.sec_clk 4 7 0 #SB_DFFR
set_location buart.Z_rx.shifter_RNIS6CF1[5] 4 11 4 #SB_LUT4
set_location buart.Z_rx.shifter_RNID9851[4] 8 14 5 #SB_LUT4
set_location Lab_UT.uu0.delay_line[0] 9 2 0 #SB_DFFR
set_location Lab_UT.display.dOut_RNO_0[1] 11 6 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNICT7Q7_0 8 6 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_9[1] 6 11 3 #SB_LUT4
set_location uu2.bitmap[111] 6 4 4 #SB_DFFNSR
set_location Lab_UT.dictrl.decoder.g0_13 7 15 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_1[1] 6 11 5 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 7 2 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_al[0] 9 10 1 #SB_DFF
set_location uu2.vbuf_w_addr_user.result_1[7] 7 3 7 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[1] 2 3 5 #SB_LUT4
set_location uu0.l_precount[3] 2 3 3 #SB_DFFR
set_location buart.Z_rx.bitcount_es_RNILRCP[0] 6 15 3 #SB_LUT4
set_location Lab_UT.display.dOut_RNO_1[2] 9 5 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_8[1] 5 10 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_al_0[1] 9 11 6 #SB_DFFSR
set_location Lab_UT.bcd2segment2.segmentUQ_i_a3[4] 7 7 1 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_6 4 6 4 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNO[2] 12 8 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_5_RNI9PAE 9 12 4 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i_a3[2] 7 8 7 #SB_LUT4
set_location uu2.vbuf_count.counter_gen_label[8].un350_ci 2 8 0 #SB_LUT4
set_location uu0.sec_clk_RNO 4 7 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[1] 1 7 2 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[3] 9 1 2 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNIS3Q51[5] 9 2 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_10 5 15 5 #SB_LUT4
set_location resetGen.rst 4 9 0 #SB_DFF
set_location Lab_UT.didp.Mtens_alarm.q_RNO[1] 7 9 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNILAUP7_0 7 7 7 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNO_0[6] 4 8 6 #SB_LUT4
set_location uu2.bitmap[93] 8 6 0 #SB_DFFNSR
set_location resetGen.uu0.counter_gen_label[3].un252_ci 8 5 2 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[14] 8 2 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNIUJ5K6_2 6 7 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNO_0 8 10 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNO 8 9 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_10[1] 7 10 4 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAStens_RNI7OAH5 8 12 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_17 5 10 1 #SB_DFFSR
set_location Lab_UT.didp.Stens_subtractor.q_RNI77F11[0] 12 10 6 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.un1_q_cry_0_s1_c 12 9 0 #SB_CARRY
set_location Lab_UT.dictrl.decoder.g0_3 5 14 3 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNIKE6P[2] 8 2 1 #SB_LUT4
set_location Lab_UT.uu0.l_count[11] 7 2 3 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.m6 4 12 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_10 8 4 2 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[2] 2 5 3 #SB_LUT4
set_location Lab_UT.display.dOut_RNO_0[4] 9 4 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNIOBFP3 2 9 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_29_RNIPGJ2 8 9 6 #SB_LUT4
set_location uu2.r_addr_RNO[5] 9 6 0 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_14 7 15 5 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[8].un448_ci_0 5 4 0 #SB_LUT4
set_location Lab_UT.dictrl.r_dicAlarmIdle_RNI1782 12 4 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[5] 4 3 0 #SB_LUT4
set_location buart.Z_rx.shifter_7_rep1 8 15 7 #SB_DFFER
set_location Lab_UT.dictrl.nextState[1] 1 11 7 #SB_DFF
set_location Lab_UT.dictrl.dicLdAStens 8 7 0 #SB_DFFR
set_location uu2.w_addr_displaying[0] 6 7 7 #SB_DFFNSR
set_location uu0.l_precount[0] 4 1 1 #SB_DFFR
set_location buart.Z_rx.shifter_3_rep1 4 14 2 #SB_DFFER
set_location Lab_UT.dictrl.currState_0_ret_29_RNIOSJNC6 6 11 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_1 6 3 3 #SB_LUT4
set_location uu0.l_count_RNIRLTJ1[17] 2 2 7 #SB_LUT4
set_location Lab_UT.didp.curr_LED[0] 8 5 1 #SB_DFF
set_location Lab_UT.didp.Stens_alarm.q_RNO[2] 9 7 2 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNIHF5B1[2] 8 7 5 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q[2] 11 9 1 #SB_DFFSR
set_location Lab_UT.didp.Mones_alarm.q_RNIR9N11[2] 5 8 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNI7DR61 6 9 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_7_RNIUEJQ4 8 12 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[4] 1 6 3 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[0] 9 1 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_17 4 12 2 #SB_LUT4
set_location Lab_UT.display.cnt_RNIE98M[2] 11 5 1 #SB_LUT4
set_location Lab_UT.display.cnt[0] 11 5 3 #SB_DFFSR
set_location Lab_UT.didp.curr_LED_RNIJFM52[1] 11 11 3 #SB_LUT4
set_location uu2.l_count_RNO[4] 2 7 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_al_0_RNI5PG55[1] 9 11 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNIM0T61[2] 6 4 3 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_37_i_i 6 5 0 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_6 4 13 5 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO_0[3] 1 5 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_1_c 1 6 0 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter[5] 4 16 4 #SB_DFF
set_location uu2.w_addr_displaying_RNIGEPH1[4] 6 4 0 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[5] 2 5 6 #SB_LUT4
set_location Lab_UT.displayAlarm_RNO[5] 9 10 5 #SB_LUT4
set_location uu2.r_addr_RNO[0] 5 3 4 #SB_LUT4
set_location buart.Z_rx.shifter_RNIN9NP3[7] 6 13 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[0] 6 15 7 #SB_LUT4
set_location Lab_UT.display.dOut[1] 9 4 4 #SB_DFF
set_location Lab_UT.didp.Sones_subtractor.q[2] 11 7 2 #SB_DFFSR
set_location Lab_UT.didp.Sones_alarm.q[2] 9 6 7 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_6 5 12 4 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_num_0 4 13 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_5 4 12 0 #SB_DFFSS
set_location Lab_UT.dictrl.currState_2_RNI6ITB[2] 5 11 7 #SB_LUT4
set_location buart.Z_rx.shifter_RNI86KI[6] 8 13 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_7 8 11 5 #SB_DFFSS
set_location Lab_UT.dictrl.currState_0_ret_29_RNO_0 7 10 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[4] 7 4 2 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 2 1 4 #SB_LUT4
set_location uu0.delay_line_RNO[0] 2 3 2 #SB_LUT4
set_location Lab_UT.displayAlarm[0] 11 4 0 #SB_DFF
set_location Lab_UT.dictrl.r_enable1_RNIOJNGA 7 6 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNITUPT[2] 2 11 6 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNO[2] 9 9 2 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNIQEF9[3] 12 8 0 #SB_LUT4
set_location resetGen.uu0.counter_gen_label[2].un241_ci 8 5 5 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNO[1] 9 7 6 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_2[1] 11 8 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNI5U4U 2 13 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNILSOL[5] 7 4 4 #SB_LUT4
set_location buart.Z_tx.shifter[3] 2 5 4 #SB_DFFER
set_location buart.Z_rx.bitcount_fast_es[3] 6 14 7 #SB_DFFES
set_location Lab_UT.dictrl.dicLdMtens_RNO 11 10 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIEPCJ[1] 7 13 5 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIK0OS[0] 5 13 2 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNO[1] 9 6 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIAGTK1[2] 6 6 6 #SB_LUT4
set_location uu2.r_addr[2] 5 3 0 #SB_DFFSR
set_location uu2.bitmap_RNIUEOT[58] 4 6 3 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNIRMVP[0] 12 9 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast[1] 7 14 7 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.m32 6 10 7 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_5 4 13 4 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_3_1 5 13 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_5_RNIN6436_0 2 12 6 #SB_LUT4
set_location uu2.bitmap_RNI9MSLA[69] 5 6 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[4] 5 16 6 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[0] 5 16 3 #SB_DFF
set_location Lab_UT.didp.curr_LED_RNIRNM52[1] 9 9 4 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNO_0[3] 9 8 5 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_littleL 9 13 3 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i_a3_0[4] 7 7 5 #SB_LUT4
set_location uu2.w_addr_displaying_ness[6] 6 5 3 #SB_DFFNESS
set_location buart.Z_tx.shifter_RNO[8] 4 6 1 #SB_LUT4
set_location Lab_UT.uu0.l_count[9] 7 2 4 #SB_DFFER
set_location Lab_UT.displayAlarm_RNO[0] 11 4 0 #SB_LUT4
set_location Lab_UT.dictrl.dicLdASones_RNI1C3E5 7 11 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNI12TI1_0[5] 5 4 7 #SB_LUT4
set_location buart.Z_rx.shifter_RNIV4BN3[7] 8 13 1 #SB_LUT4
set_location Lab_UT.display.dOut[2] 11 4 6 #SB_DFF
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_3 7 13 1 #SB_LUT4
set_location uu2.w_addr_user[1] 8 4 5 #SB_DFFNSR
set_location uu2.r_addr_esr[7] 5 4 3 #SB_DFFESR
set_location resetGen.reset_count_RNO[2] 8 5 6 #SB_LUT4
set_location buart.Z_rx.shifter[0] 8 15 0 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[0] 6 16 0 #SB_CARRY
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_0[1] 11 10 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_23 6 12 0 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i_a4_1[6] 5 7 3 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNIFD5B1[1] 8 8 0 #SB_LUT4
set_location Lab_UT.dictrl.dicLdMtens 11 10 2 #SB_DFF
set_location uu0.l_count[8] 2 2 1 #SB_DFFER
set_location Lab_UT.didp.Mtens_alarm.q_RNI1PK11[0] 7 9 1 #SB_LUT4
set_location buart.Z_rx.shifter_5_rep1 8 15 5 #SB_DFFER
set_location buart.Z_tx.shifter[6] 2 5 7 #SB_DFFER
set_location buart.Z_tx.bitcount_RNI22V22[3] 1 5 7 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNIM5011[11] 9 2 7 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_1[1] 11 10 7 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNI6N2RA 5 7 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g1_4 5 15 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_19 6 10 2 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment_1[3] 7 8 3 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNITTSI1[6] 7 4 5 #SB_LUT4
set_location uu2.r_addr[1] 5 3 1 #SB_DFFSR
set_location uu2.trig_rd_det[1] 5 3 5 #SB_DFFSR
set_location buart.Z_rx.shifter_fast[6] 4 15 6 #SB_DFFER
set_location Lab_UT.display.dOut_RNO_2[2] 11 5 7 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNIDB5B1[0] 8 7 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_8 6 15 0 #SB_LUT4
set_location Lab_UT.bcd2segment2.segment_1[6] 7 7 0 #SB_LUT4
set_location uu2.w_addr_user_RNO[4] 9 3 1 #SB_LUT4
set_location uu2.bitmap_RNIELSJ2[111] 6 4 2 #SB_LUT4
set_location uu0.sec_clkD_RNISDHD 4 8 3 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNI0QLC5_1[1] 7 5 5 #SB_LUT4
set_location Lab_UT.dictrl.dicLdSones_RNO 12 10 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_28_RNO 6 12 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNIV2MM2[2] 4 5 2 #SB_LUT4
set_location uu0.l_count_RNO[18] 2 2 5 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q[1] 9 7 6 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.m8 4 9 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNO[0] 4 8 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_2[1] 1 11 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_0 2 11 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_3_RNO 7 10 1 #SB_LUT4
set_location uu2.w_addr_user[6] 9 3 2 #SB_DFFNSR
set_location uu2.r_addr_esr[8] 5 4 2 #SB_DFFESR
set_location uu2.bitmap[221] 8 6 6 #SB_DFFNSR
set_location buart.Z_rx.shifter[3] 8 15 4 #SB_DFFER
set_location buart.Z_rx.bitcount_es[1] 6 14 3 #SB_DFFES
set_location buart.Z_rx.bitcount_cry_c[3] 6 16 3 #SB_CARRY
set_location Lab_UT.didp.Mones_subtractor.q_RNO_0[0] 12 8 1 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_20 4 13 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_5_RNO 7 12 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_1 7 12 0 #SB_DFFSS
set_location uu2.vram_rd_clk_det_RNI95711[1] 4 3 5 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[8] 8 2 7 #SB_LUT4
set_location Lab_UT.displayAlarm[6] 12 4 0 #SB_DFF
set_location Lab_UT.bcd2segment4.segmentUQ_i_a4_1[6] 7 8 1 #SB_LUT4
set_location uu2.bitmap_RNIU2IS[52] 7 5 7 #SB_LUT4
set_location uu2.bitmap[197] 5 6 2 #SB_DFFNSR
set_location Lab_UT.uu0.l_count_RNIFRMN[3] 7 2 0 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 2 1 6 #SB_LUT4
set_location buart.Z_tx.shifter[5] 2 5 6 #SB_DFFER
set_location buart.Z_rx.shifter_4_rep1 4 14 0 #SB_DFFER
set_location Lab_UT.dictrl.r_dicAlarmTrig_RNO 9 10 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g1_3 8 14 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNI39J171 7 11 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNIUL8L 6 9 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segment_1[6] 6 8 6 #SB_LUT4
set_location Lab_UT.display.cnt_RNIFA8M_0[2] 9 4 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_al_RNISS2D9[0] 9 11 3 #SB_LUT4
set_location uu2.w_addr_displaying_RNIJ5K15[8] 7 4 7 #SB_LUT4
set_location uu2.bitmap[69] 6 8 4 #SB_DFFNSR
set_location Lab_UT.dictrl.currState_2_RNIRPGDN[1] 7 12 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_6_RNO 8 11 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_29_RNIK6A94 2 10 0 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[3] 5 4 6 #SB_LUT4
set_location uu2.bitmap_RNI1PH82[34] 5 5 1 #SB_LUT4
set_location uu2.bitmap[40] 5 5 6 #SB_DFFNSR
set_location Lab_UT.dictrl.currState_2[0] 4 8 2 #SB_DFF
set_location Lab_UT.dictrl.currState_0_ret_18 8 11 2 #SB_DFFSR
set_location Lab_UT.dictrl.currState_0_ret_16_RNO 8 11 1 #SB_LUT4
set_location uu2.w_addr_user_RNO[1] 8 4 5 #SB_LUT4
set_location uu2.bitmap[218] 7 6 6 #SB_DFFNSR
set_location buart.Z_rx.Z_baudgen.counter_RNO[2] 4 16 6 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_7_i_o2[2] 11 10 4 #SB_LUT4
set_location uu2.un1_w_user_lf_4 8 4 1 #SB_LUT4
set_location buart.Z_tx.bitcount_RNO[3] 1 4 3 #SB_LUT4
set_location Lab_UT.uu0.l_count[7] 8 1 2 #SB_DFFER
set_location Lab_UT.didp.Sones_alarm.q_RNO[1] 9 6 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_7_RNO 8 11 5 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_0_o3[5] 7 8 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNI649331[8] 4 5 6 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNINHFQA_0 5 6 2 #SB_LUT4
set_location uu2.bitmap_RNI99H91[75] 6 7 6 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 4 3 2 #SB_LUT4
set_location buart.Z_rx.shifter[6] 4 15 4 #SB_DFFER
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_1_c 4 16 0 #SB_CARRY
set_location Lab_UT.display.cnt_RNO[0] 11 5 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m15_am 5 12 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_fast_RNIOKOT3[0] 2 13 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNI0FS1A 2 13 2 #SB_LUT4
set_location uu2.bitmap_RNIM7D32[69] 5 6 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[5] 1 6 4 #SB_DFF
set_location Lab_UT.dictrl.r_enable3_RNO_0 8 12 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIS2IML1[2] 7 12 7 #SB_LUT4
set_location uu0.l_count[2] 1 2 6 #SB_DFFER
set_location Lab_UT.didp.Stens_alarm.q_RNI0QLC5_0[1] 7 5 3 #SB_LUT4
set_location Lab_UT.dictrl.r_dicRun 9 10 0 #SB_DFF
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_0_0 4 9 6 #SB_LUT4
set_location Lab_UT.dictrl.dicLdASones_RNO 7 11 6 #SB_LUT4
set_location Lab_UT.display.dOut_RNO[1] 9 4 4 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNI68H41[3] 11 10 5 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNO_0[0] 12 7 4 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q[0] 12 8 2 #SB_DFFSR
set_location Lab_UT.dictrl.currState_ret_7_RNI2HHP 9 12 2 #SB_LUT4
set_location uu2.bitmap[84] 7 7 7 #SB_DFFNSR
set_location buart.Z_tx.shifter[8] 4 6 1 #SB_DFFER
set_location Lab_UT.dictrl.dicLdStens_RNIQVHE3 9 8 2 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[6].un426_ci_3 5 4 1 #SB_LUT4
set_location uu2.r_data_rdy_RNO 1 5 3 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 4 2 0 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_4_c 4 16 3 #SB_CARRY
set_location Lab_UT.didp.Stens_subtractor.q[3] 9 9 1 #SB_DFFSR
set_location uu2.vram_rd_clk_det[0] 2 6 0 #SB_DFFNS
set_location buart.Z_rx.hh[1] 2 15 2 #SB_DFFS
set_location Lab_UT.dictrl.currState_ret_5_RNIIF461 2 13 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_RNIR9C03[3] 2 12 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_3_RNI9MVL 8 9 4 #SB_LUT4
set_location uu2.vbuf_count.result_1[8] 2 8 3 #SB_LUT4
set_location uu2.l_count_RNO[9] 2 8 1 #SB_LUT4
set_location buart.Z_tx.uart_tx 2 5 2 #SB_DFFES
set_location buart.Z_rx.shifter_1_rep1 4 14 1 #SB_DFFER
set_location Lab_UT.didp.Sones_subtractor.q_RNO_1[1] 12 7 0 #SB_LUT4
set_location uu2.w_addr_user_RNO[2] 8 4 6 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIVE1P1[3] 1 5 0 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[12] 7 2 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_1_RNO 7 12 0 #SB_LUT4
set_location uu2.w_addr_user_nesr_RNI1VU6[3] 7 3 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNI7QIF3[8] 4 4 5 #SB_LUT4
set_location uu2.r_data_reg[1] 2 4 1 #SB_DFFNE
set_location uu0.l_count_RNO[12] 1 1 3 #SB_LUT4
set_location uu0.l_count[11] 2 1 3 #SB_DFFER
set_location buart.Z_tx.bitcount_RNO[0] 2 3 1 #SB_LUT4
set_location buart.Z_tx.bitcount[0] 2 3 1 #SB_DFFR
set_location Lab_UT.uu0.l_count[0] 9 1 4 #SB_DFFER
set_location Lab_UT.didp.Sones_alarm.q_RNO[2] 9 6 7 #SB_LUT4
set_location uu2.l_count_RNI9S834_0[1] 2 7 3 #SB_LUT4
set_location uu2.l_count[4] 2 7 5 #SB_DFFS
set_location uu2.bitmap[75] 6 7 5 #SB_DFFNSR
set_location resetGen.reset_count[0] 6 3 0 #SB_DFF
set_location Lab_UT.dictrl.decoder.de_cr_1 6 13 4 #SB_LUT4
set_location uu2.un4_w_user_data_rdy[0] 8 3 6 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNIOCVC5_1[1] 8 6 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[8] 7 4 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[0] 1 7 5 #SB_DFF
set_location Lab_UT.didp.Sones_subtractor.q_RNO[3] 11 7 1 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNI9U7B1[3] 8 7 3 #SB_LUT4
set_location uu2.bitmap[314] 6 6 2 #SB_DFFNSR
set_location uu0.l_count[1] 1 2 2 #SB_DFFER
set_location Lab_UT.didp.Mtens_alarm.q[0] 7 9 4 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g0 2 11 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNIAVHPS 2 10 3 #SB_LUT4
set_location uu2.w_addr_displaying[8] 7 4 1 #SB_DFFNSR
set_location uu2.bitmap_RNI1D952[93] 8 6 7 #SB_LUT4
set_location Lab_UT.display.dOut_RNO[6] 9 4 2 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNO_0[3] 11 7 0 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_cr 6 13 5 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_9 4 4 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_25 6 10 5 #SB_DFF
set_location Lab_UT.dictrl.currState_0_ret_1_RNIPH7F1 9 12 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_14_RNO 7 10 0 #SB_LUT4
set_location uu2.trig_rd_det_RNO[0] 5 3 6 #SB_LUT4
set_location Lab_UT.uu0.vbuf_precount_cntrl1.result_1[1] 9 2 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_28_RNO_0 6 12 3 #SB_LUT4
set_location Lab_UT.dictrl.nextState_al_RNO[0] 9 10 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[7] 2 8 6 #SB_LUT4
set_location uu2.bitmap[296] 5 5 7 #SB_DFFNSR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_5_c 1 6 4 #SB_CARRY
set_location Lab_UT.dictrl.currState_0_ret_12 8 11 0 #SB_DFFSR
set_location uu2.bitmap[212] 7 7 2 #SB_DFFNSR
set_location buart.Z_rx.bitcount_2_rep1_es_RNIELCR 7 13 4 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[11] 7 2 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3 6 9 5 #SB_DFF
set_location Lab_UT.dictrl.dicLdSones 12 10 4 #SB_DFF
set_location uu2.r_data_reg[4] 2 4 4 #SB_DFFNE
set_location uu0.l_count[12] 1 1 3 #SB_DFFER
set_location Lab_UT.uu0.l_count[14] 8 2 3 #SB_DFFER
set_location Lab_UT.didp.curr_LED_RNO[0] 8 5 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIDED951[2] 6 11 0 #SB_LUT4
set_location uu2.l_count[7] 2 8 6 #SB_DFFR
set_location Lab_UT.display.dOut_RNO_0[3] 9 5 6 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNI7S7B1[2] 8 7 4 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO[0] 11 9 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNIADR61 6 9 6 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNICT7Q7_2 6 6 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNI0KKK6[0] 4 11 3 #SB_LUT4
set_location uu2.un1_w_user_cr 8 3 5 #SB_LUT4
set_location uu0.l_count_RNO[0] 1 2 3 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_11 7 14 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_6_RNIU5JA3 11 10 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[3] 1 6 2 #SB_DFF
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[1] 9 1 0 #SB_LUT4
set_location Lab_UT.display.cnt_RNID88M_0[1] 11 6 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNO_0 5 10 5 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAMtens 5 8 0 #SB_DFFR
set_location Lab_UT.dictrl.decoder.de_atSign_5 9 15 1 #SB_LUT4
set_location uu0.l_count[4] 1 1 7 #SB_DFFER
set_location Lab_UT.display.cnt_RNI1STE1[1] 11 5 0 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNIIFEO1[3] 11 7 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_5_RNO 4 12 0 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i_a3[4] 5 7 5 #SB_LUT4
set_location uu0.vbuf_precount_cntrl1.result_1[3] 2 3 3 #SB_LUT4
set_location buart.Z_rx.bitcount_2_rep1_es 6 14 2 #SB_DFFES
set_location Lab_UT.dictrl.currState_2_RNI4F3LS1[1] 7 12 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNIPJM6D1 6 12 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_4 6 3 6 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 9 1 5 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNI83T64[1] 6 7 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_22 8 10 0 #SB_DFF
set_location resetGen.reset_count_RNO_0[4] 6 3 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[3] 1 6 2 #SB_LUT4
set_location Lab_UT.uu0.vbuf_precount_cntrl1.result_1[2] 9 2 6 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q[3] 9 6 4 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_12 7 15 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNIPTVF 2 10 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_28_RNO_3 7 12 5 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_0[5] 8 8 1 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNILAUP7_2 7 5 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNI8DR61 8 9 7 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i_a3_0[4] 8 7 2 #SB_LUT4
set_location uu2.vbuf_w_addr_user.counter_gen_label[6].un426_ci_3 6 3 5 #SB_LUT4
set_location uu2.vbuf_count.result_1[2] 2 7 1 #SB_LUT4
set_location uu2.l_count_RNO[3] 2 7 0 #SB_LUT4
set_location uu2.bitmap_RNIVKR41[180] 6 6 3 #SB_LUT4
set_location uu2.bitmap[200] 5 7 6 #SB_DFFNSR
set_location Lab_UT.didp.Stens_alarm.q_RNI0QLC5_2[1] 7 5 0 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNIGGJ64_0[2] 6 8 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNIUJ5K6_0 5 7 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNIM4AP 4 15 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_19_RNO 8 11 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_11 8 11 6 #SB_DFFSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 1 1 6 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNI83T64_2[1] 6 7 4 #SB_LUT4
set_location uu2.r_data_reg[7] 2 4 7 #SB_DFFNE
set_location uu0.l_count[17] 2 2 2 #SB_DFFER
set_location Lab_UT.uu0.l_precount[0] 11 2 5 #SB_DFFR
set_location Lab_UT.uu0.l_count[17] 8 1 4 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.m4 4 12 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m27 6 13 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_fast[0] 2 11 5 #SB_DFF
set_location uu2.mem0.ram512X8_inst_RNO_12 4 4 0 #SB_LUT4
set_location uu2.l_count[2] 2 7 1 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[0] 2 5 1 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNICT7Q7_1 7 6 1 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[3] 6 5 0 #SB_DFFNESR
set_location uu0.l_count_RNO[3] 1 2 1 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNI1TVP[3] 9 9 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNO_4[1] 6 11 4 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_12 8 14 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_0 8 10 1 #SB_DFF
set_location Lab_UT.bcd2segment3.segment_1[6] 5 7 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIHGM43[8] 7 4 0 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.result_1_0_o2[4] 6 4 7 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_2_c 1 6 1 #SB_CARRY
set_location Lab_UT.dictrl.r_enable3_RNO 6 9 5 #SB_LUT4
set_location Lab_UT.dictrl.r_alarm_or_time_RNI9J3I 8 9 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_7_RNO 9 12 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI0P25D[1] 2 10 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_25_RNO 6 10 5 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_0_0_c 1 4 0 #SB_CARRY
set_location Lab_UT.dictrl.r_enable2_RNIL79GA 7 7 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState[3] 5 11 4 #SB_DFFE
set_location uu0.l_precount[2] 2 3 4 #SB_DFFR
set_location Lab_UT.display.dOut_RNO_1[1] 9 5 4 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNI775L5_0[3] 11 9 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_al_0[0] 9 11 0 #SB_DFFSR
set_location uu2.mem0.ram512X8_inst_RNO_7 4 3 4 #SB_LUT4
set_location buart.Z_rx.bitcount_fast_es_RNIAJ1G[3] 5 13 1 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q[0] 11 9 4 #SB_DFFSR
set_location Lab_UT.didp.Mones_subtractor.q_RNO[1] 12 8 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[6] 1 6 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_11 5 12 3 #SB_LUT4
set_location uu2.vram_rd_clk_RNO 4 7 3 #SB_LUT4
set_location uu2.un1_w_user_lf 8 3 1 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNO[2] 9 7 0 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNILAUP7_1 7 5 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_fast_RNO[0] 2 11 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI71NQI[1] 5 12 1 #SB_LUT4
set_location uu2.vbuf_count.result_1[1] 4 7 1 #SB_LUT4
set_location uu2.bitmap[90] 7 6 1 #SB_DFFNSR
set_location uu2.bitmap[290] 5 5 5 #SB_DFFNSR
set_location Lab_UT.didp.Sones_subtractor.q_RNIPVIV3[3] 11 8 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_14 7 10 0 #SB_DFFSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[13].un165_ci_0 1 1 4 #SB_LUT4
set_location buart.Z_rx.shifter_6_rep1 8 15 3 #SB_DFFER
set_location Lab_UT.display.cnt_RNIFA8M[2] 11 4 7 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_0 5 14 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[10] 2 1 5 #SB_LUT4
set_location uu0.l_count[18] 2 2 5 #SB_DFFER
set_location Lab_UT.uu0.l_count[12] 7 2 1 #SB_DFFER
set_location Lab_UT.dictrl.r_dicRun_RNO 9 10 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m7 4 15 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m22 5 9 0 #SB_LUT4
set_location buart.Z_tx.shifter_RNO[3] 2 5 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIV4IAN[1] 5 9 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_27_RNO 6 10 6 #SB_LUT4
set_location uu2.w_addr_displaying_RNIB4NVD[4] 5 5 3 #SB_LUT4
set_location uu0.l_count_RNO[6] 4 3 3 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_17 7 15 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_7 9 12 7 #SB_DFF
set_location Lab_UT.dictrl.r_dicAlarmArmed 9 10 2 #SB_DFF
set_location Lab_UT.dictrl.nextState[0] 5 11 2 #SB_DFFE
set_location Lab_UT.didp.Stens_subtractor.q_RNO[0] 9 9 0 #SB_LUT4
set_location Lab_UT.dictrl.r_dicAlarmIdle 12 11 0 #SB_DFFSS
set_location uu2.mem0.ram512X8_inst_RNO_2 7 3 4 #SB_LUT4
set_location Lab_UT.didp.curr_LED[1] 8 5 0 #SB_DFF
set_location Lab_UT.didp.Stens_alarm.q_RNO[3] 9 7 3 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q[3] 11 9 7 #SB_DFFSR
set_location Lab_UT.dictrl.currState_2_RNIA5707[2] 2 9 1 #SB_LUT4
set_location uu2.vram_wr_en_0_i 8 3 3 #SB_LUT4
set_location uu2.bitmap_RNIPUBH6[34] 5 5 4 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNO[5] 1 6 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_14 8 13 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIEGFT[0] 7 13 7 #SB_LUT4
set_location Lab_UT.display.cnt[1] 11 5 5 #SB_DFFSR
set_location Lab_UT.didp.Mones_subtractor.q_RNI775L5[3] 11 6 2 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNO[3] 9 6 4 #SB_LUT4
set_location Lab_UT.dictrl.r_dicRun_RNO_0 9 12 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIDEJTG4[1] 2 12 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNI40BJ2 2 9 5 #SB_LUT4
set_location uu2.r_addr[4] 11 3 6 #SB_DFFSR
set_location uu2.bitmap[168] 5 7 4 #SB_DFFNSR
set_location Lab_UT.dictrl.currState_ret_RNI7FNU 2 12 7 #SB_LUT4
set_location uu2.w_addr_user_RNI0FES5[2] 8 3 0 #SB_LUT4
set_location uu0.l_precount_RNI85Q91[3] 2 3 6 #SB_LUT4
set_location buart.Z_rx.shifter_fast[3] 8 15 6 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.m30 6 13 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_7 5 15 6 #SB_LUT4
set_location Lab_UT.bcd2segment2.segmentUQ_i_a4_1[6] 7 7 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[2] 4 16 6 #SB_DFF
set_location Lab_UT.uu0.l_count_RNIAK6Q1[4] 8 2 2 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNO_0[1] 11 8 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_littleN 9 13 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1_RNIKKEKM 7 11 3 #SB_LUT4
set_location uu2.l_count[8] 2 8 3 #SB_DFFS
set_location buart.Z_tx.shifter_RNO[6] 2 5 7 #SB_LUT4
set_location Lab_UT.displayAlarm_RNO[2] 11 4 4 #SB_LUT4
set_location uu2.r_addr_RNO[1] 5 3 1 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNO[1] 6 14 3 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIIVPI1[1] 6 15 1 #SB_LUT4
set_location Lab_UT.display.dOut[0] 11 4 3 #SB_DFF
set_location Lab_UT.didp.Sones_subtractor.q[1] 12 7 3 #SB_DFFSR
set_location Lab_UT.didp.Sones_alarm.q[1] 9 6 6 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_5 2 9 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNI66NNS 2 10 2 #SB_LUT4
set_location uu2.vram_rd_clk 4 7 3 #SB_DFFS
set_location resetGen.reset_count_RNO[0] 6 3 0 #SB_LUT4
set_location buart.Z_rx.bitcount_es[4] 6 14 4 #SB_DFFES
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_0[3] 11 9 6 #SB_LUT4
set_location Lab_UT.dictrl.r_dicAlarmArmed_RNO 9 10 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m21_rn 4 11 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_5_RNO_0 5 11 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_6 8 11 4 #SB_DFFSR
set_location Lab_UT.dictrl.currState_0_ret_29_RNO_3 1 10 5 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[5] 7 4 3 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[9] 2 2 0 #SB_LUT4
set_location Lab_UT.displayAlarm[1] 9 8 1 #SB_DFF
set_location Lab_UT.dictrl.dicLdAMones_RNO 8 12 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_29_RNO 1 10 3 #SB_LUT4
set_location uu2.w_addr_displaying[4] 7 4 2 #SB_DFFNSR
set_location uu2.vbuf_count.counter_gen_label[2].un284_ci 4 8 5 #SB_LUT4
set_location uu2.bitmap[34] 6 8 5 #SB_DFFNSR
set_location Lab_UT.didp.Stens_subtractor.q_RNO[3] 9 9 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep1_RNI3BNS2 4 12 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_29 1 10 3 #SB_DFF
set_location uu2.w_addr_displaying_RNI0HFE3[8] 4 5 5 #SB_LUT4
set_location uu2.bitmap[58] 8 6 3 #SB_DFFNSR
set_location buart.Z_tx.shifter[0] 2 5 1 #SB_DFFER
set_location buart.Z_rx.bitcount_fast_es[2] 6 14 0 #SB_DFFES
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_8 8 1 6 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_1[3] 11 11 1 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g1_6 8 14 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_5_RNIN6436 4 9 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_18_RNO 8 11 2 #SB_LUT4
set_location uu2.bitmap[186] 7 6 4 #SB_DFFNSR
set_location Lab_UT.didp.Mones_alarm.q_RNO[0] 9 6 1 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNI9DR61 6 9 4 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNIP43E[13] 4 3 7 #SB_LUT4
set_location uu2.w_addr_displaying_RNIASLS1[4] 4 5 0 #SB_LUT4
set_location uu2.vbuf_raddr.result_1[6] 5 4 5 #SB_LUT4
set_location buart.Z_rx.shifter_fast[0] 5 13 7 #SB_DFFER
set_location Lab_UT.display.dOut_RNO_2[0] 11 4 1 #SB_LUT4
set_location Lab_UT.didp.Stens_alarm.q_RNIJH5B1[3] 8 7 7 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAMtens_RNO 5 8 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI1O2A[1] 2 10 6 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_1_0_c 1 4 1 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter_RNO[5] 4 16 4 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter[1] 4 16 7 #SB_DFF
set_location Lab_UT.uu0.l_count[18] 7 1 0 #SB_DFFER
set_location Lab_UT.didp.Stens_subtractor.q_RNO_0[2] 9 8 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI0LLB7[0] 4 10 6 #SB_LUT4
set_location Lab_UT.uu0.l_count[8] 8 2 7 #SB_DFFER
set_location uu2.w_addr_displaying_nesr_RNIEE9K5[3] 5 6 5 #SB_LUT4
set_location Lab_UT.display.dOut[5] 9 4 7 #SB_DFF
set_location Lab_UT.didp.Sones_ce_i_0_o3 11 7 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIR9C03[2] 4 9 4 #SB_LUT4
set_location uu2.w_addr_user[0] 8 4 4 #SB_DFFNSR
set_location uu2.w_addr_displaying_RNI25P31[8] 4 6 7 #SB_LUT4
set_location uu2.r_addr_esr[6] 5 4 5 #SB_DFFESR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_6 1 2 4 #SB_LUT4
set_location uu0.l_count_RNI8ORT6[11] 2 1 2 #SB_LUT4
set_location resetGen.reset_count_RNO[3] 8 5 3 #SB_LUT4
set_location buart.Z_rx.shifter[1] 9 14 3 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c[1] 6 16 1 #SB_CARRY
set_location buart.Z_rx.Z_baudgen.counter_RNI4IE3[5] 4 16 5 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNO_1[3] 11 8 4 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_0[0] 11 9 3 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNO_0[2] 12 8 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m19 4 12 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_22 6 12 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_3 7 10 1 #SB_DFFSS
set_location Lab_UT.dictrl.currState_0_ret_29_RNO_4 1 10 1 #SB_LUT4
set_location uu2.w_addr_displaying_RNO[0] 6 7 7 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[12].un154_ci_9 7 2 5 #SB_LUT4
set_location Lab_UT.displayAlarm[4] 12 5 1 #SB_DFF
set_location Lab_UT.dictrl.nextState_al_RNIHVQHE[0] 9 10 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_cr_1_0 5 13 0 #SB_LUT4
set_location uu0.l_count[9] 2 2 0 #SB_DFFER
set_location buart.Z_rx.bitcount_cry_c_RNIKERP5[2] 6 14 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNO 8 13 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNIUL8L_0 2 12 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_12_RNIB2D93 11 12 3 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNI5M6E[1] 1 6 7 #SB_LUT4
set_location Lab_UT.display.rdy_RNO 9 4 1 #SB_LUT4
set_location Lab_UT.didp.curr_LED_RNINJM52[1] 9 9 7 #SB_LUT4
set_location uu0.l_precount_RNO[0] 4 1 1 #SB_LUT4
set_location buart.Z_tx.shifter[7] 4 6 0 #SB_DFFER
set_location Lab_UT.dictrl.r_enable1_RNICT7Q7 8 6 0 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNI5Q7B1[1] 8 8 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_15_RNO 8 11 7 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNI775L5[3] 11 8 3 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNI83T64_1[1] 6 7 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNIA8EV3[1] 4 12 7 #SB_LUT4
set_location uu2.trig_rd_det[0] 5 3 6 #SB_DFFSR
set_location buart.Z_rx.shifter_fast[5] 5 14 6 #SB_DFFER
set_location Lab_UT.display.dOut_RNO_2[3] 9 5 5 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_9 5 15 1 #SB_LUT4
set_location resetGen.escKey_3 9 13 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNIGD8S2[1] 5 16 7 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[0] 5 16 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIHF8J71[1] 2 12 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIFK4DG[1] 7 11 7 #SB_LUT4
set_location uu2.l_count_RNIBCGK1_0[9] 2 8 2 #SB_LUT4
set_location Lab_UT.uu0.l_count[5] 9 1 7 #SB_DFFER
set_location Lab_UT.didp.Stens_alarm.q[2] 9 7 2 #SB_DFFSR
set_location Lab_UT.didp.Mones_subtractor.un1_q_cry_1_s1_c 12 9 1 #SB_CARRY
set_location Lab_UT.didp.Mones_subtractor.q_RNIN8C59[3] 11 10 0 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNII5KN8 5 7 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNI6VQ05[2] 6 9 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_1_1 5 13 6 #SB_LUT4
set_location uu2.w_addr_user_nesr[3] 7 3 3 #SB_DFFNESR
set_location Lab_UT.display.dOut[6] 9 4 2 #SB_DFF
set_location Lab_UT.didp.Mones_alarm.q_RNI83T64_0[1] 6 7 2 #SB_LUT4
set_location uu2.w_addr_user[5] 9 3 0 #SB_DFFNSR
set_location uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_1 1 2 5 #SB_LUT4
set_location buart.Z_rx.shifter[4] 4 14 5 #SB_DFFER
set_location buart.Z_rx.bitcount_es[2] 6 14 1 #SB_DFFES
set_location Lab_UT.display.dOut_RNO_3[3] 11 5 2 #SB_LUT4
set_location Lab_UT.display.cnt_RNO[2] 11 5 4 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNO_0[1] 12 9 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNILAUP7 7 5 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_11_RNIA2D93 8 8 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_0 1 11 1 #SB_DFF
set_location uu2.bitmap_RNI2JA82[212] 5 6 4 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[9] 7 2 4 #SB_LUT4
set_location Lab_UT.uu0.sec_clk_RNO 9 7 7 #SB_LUT4
set_location Lab_UT.didp.Sones_alarm.q_RNIOCVC5[1] 8 6 1 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m7_sx 5 15 7 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m21_mb 4 10 0 #SB_LUT4
set_location buart.Z_rx.shifter_6_rep1_RNI4H7E 2 13 6 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNI99F11[1] 11 11 4 #SB_LUT4
set_location uu2.bitmap_RNICFK91[90] 7 6 7 #SB_LUT4
set_location Lab_UT.display.dOut_RNO[3] 9 5 7 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_4_3 7 14 2 #SB_LUT4
set_location uu2.bitmap[52] 7 5 6 #SB_DFFNSR
set_location buart.Z_rx.bitcount_fast_es[4] 6 14 5 #SB_DFFES
set_location buart.Z_rx.bitcount_es_RNIOUCP[0] 6 15 4 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNIP8IH2[3] 11 7 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g1_0 5 13 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIN0MBN[1] 1 10 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2 8 13 4 #SB_DFF
set_location Lab_UT.uu0.sec_clk 9 7 7 #SB_DFFR
set_location Lab_UT.dictrl.currState_al_ret_RNO 9 10 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIBR9BG[1] 6 10 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_0_RNIHG3F 9 12 0 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c_RNIMGRP5[3] 6 14 5 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_7_i_o2[2] 9 8 0 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNIL4K6D 7 7 4 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0 5 14 2 #SB_LUT4
set_location uu2.w_addr_displaying_ness_RNO[6] 6 5 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_19 8 11 3 #SB_DFFSS
set_location uu2.w_addr_user_RNO[0] 8 4 4 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO 8 4 3 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.counter_RNO[3] 4 16 2 #SB_LUT4
set_location Lab_UT.dictrl.dicLdMones 11 10 1 #SB_DFF
set_location buart.Z_tx.bitcount_RNO[2] 1 4 2 #SB_LUT4
set_location Lab_UT.uu0.l_count[6] 8 1 0 #SB_DFFER
set_location Lab_UT.didp.Sones_alarm.q_RNO[0] 9 6 5 #SB_LUT4
set_location resetGen.reset_count[2] 8 5 6 #SB_DFF
set_location Lab_UT.dictrl.currState_2_RNI82L3I6[2] 7 10 7 #SB_LUT4
set_location uu2.bitmap_RNI35M31[84] 6 6 0 #SB_LUT4
set_location buart.Z_tx.uart_tx_RNO 2 5 2 #SB_LUT4
set_location buart.Z_rx.shifter[7] 4 15 7 #SB_DFFER
set_location Lab_UT.display.cnt_RNO[1] 11 5 5 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNIGHD18[1] 5 9 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_17_RNO 5 10 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[6] 1 6 5 #SB_DFF
set_location Lab_UT.didp.Sones_subtractor.q_RNO[1] 12 7 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIFGT042[0] 6 12 5 #SB_LUT4
set_location uu0.l_count_RNI2GS72[4] 2 1 1 #SB_LUT4
set_location uu0.l_count[3] 1 2 1 #SB_DFFER
set_location Lab_UT.didp.Mtens_alarm.q[2] 9 7 0 #SB_DFFSR
set_location Lab_UT.dictrl.decoder.de_num0to5_1 4 13 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNII4T093_1[2] 7 10 5 #SB_LUT4
set_location uu2.bitmap_RNIMAS54[314] 6 6 5 #SB_LUT4
set_location buart.Z_rx.bitcount_fast_sbtinv[3] 6 15 6 #SB_LUT4
set_location Lab_UT.display.dOut_RNO[0] 11 4 3 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNO_0[1] 12 7 2 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q[3] 12 8 3 #SB_DFFSR
set_location Lab_UT.dictrl.currState_3_3_rep1_RNI2J197 7 11 2 #SB_LUT4
set_location uu2.w_addr_user_RNIINVH[2] 7 3 2 #SB_LUT4
set_location uu2.w_addr_displaying_RNIIO5V6[2] 4 5 1 #SB_LUT4
set_location uu2.bitmap[87] 6 6 1 #SB_DFFNSR
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[10].un132_ci_3 8 1 5 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_3_RNI9MVL_0 8 9 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_27 6 10 6 #SB_DFF
set_location Lab_UT.didp.Stens_subtractor.q[0] 9 9 0 #SB_DFFSR
set_location uu2.vram_rd_clk_det[1] 2 6 1 #SB_DFFNS
set_location buart.Z_rx.hh[0] 1 12 3 #SB_DFFS
set_location Lab_UT.didp.Sones_alarm.q_RNIOCVC5_2[1] 8 6 4 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNIVQVP[2] 5 8 6 #SB_LUT4
set_location Lab_UT.dictrl.r_dicAlarmIdle_RNO 12 11 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNI8NSO[4] 6 4 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNO_0 5 10 2 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[13] 7 1 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNO 6 9 2 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1 6 9 2 #SB_DFF
set_location uu2.r_data_reg[2] 2 4 2 #SB_DFFNE
set_location uu0.l_count_RNO[11] 2 1 3 #SB_LUT4
set_location uu0.l_count[10] 2 1 5 #SB_DFFER
set_location buart.Z_tx.bitcount[3] 1 4 3 #SB_DFFR
set_location Lab_UT.uu0.l_count[3] 9 1 2 #SB_DFFER
set_location Lab_UT.didp.Mones_alarm.q_RNITBN11[3] 5 8 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI19TAN[1] 6 10 0 #SB_LUT4
set_location uu2.l_count[5] 2 7 7 #SB_DFFR
set_location resetGen.reset_count[1] 8 5 4 #SB_DFF
set_location Lab_UT.didp.Stens_subtractor.q_RNIDDF11[3] 9 9 3 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNI775L5[3] 11 8 5 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO[2] 11 9 1 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNI1KKK6[0] 5 11 3 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_cr_2 7 14 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i_a4[3] 7 9 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNIGHD18_0[1] 1 10 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNIA8EV3_0[1] 4 10 3 #SB_LUT4
set_location Lab_UT.dictrl.dicLdStens_RNO 8 9 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNID73K33[1] 6 11 1 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[1] 1 7 2 #SB_DFF
set_location Lab_UT.didp.Sones_subtractor.q_RNO[2] 11 7 2 #SB_LUT4
set_location uu0.l_count[6] 4 3 3 #SB_DFFER
set_location Lab_UT.didp.Mtens_alarm.q[1] 7 9 5 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g1 6 12 1 #SB_LUT4
set_location uu2.vbuf_w_addr_user.result_1[3] 7 3 3 #SB_LUT4
set_location uu2.l_count_RNIBCGK1[9] 2 8 7 #SB_LUT4
set_location Lab_UT.display.dOut_RNO[5] 9 4 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNINHPTJ[1] 4 9 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_24 2 12 2 #SB_DFF
set_location uu2.bitmap[308] 7 5 2 #SB_DFFNSR
set_location Lab_UT.uu0.l_count_RNO[7] 8 1 2 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q[1] 9 6 2 #SB_DFFSR
set_location Lab_UT.dictrl.currState_0_ret_28_RNO_1 7 12 6 #SB_LUT4
set_location buart.Z_tx.un1_bitcount_cry_2_0_c 1 4 2 #SB_CARRY
set_location Lab_UT.dictrl.decoder.de_num_1_2 5 14 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNII4T093_0[2] 7 10 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI2P2A[2] 5 9 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_23_RNO 8 10 2 #SB_LUT4
set_location uu0.delay_line[0] 2 3 2 #SB_DFFR
set_location resetGen.rst_RNO 4 9 0 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[10] 8 2 0 #SB_LUT4
set_location Lab_UT.uu0.delay_line_RNO[0] 9 2 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_29_RNINPDOC 2 10 1 #SB_LUT4
set_location Lab_UT.bcd2segment1.segmentUQ_i_a4_1[6] 7 6 3 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[16] 8 1 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4 6 9 7 #SB_DFF
set_location Lab_UT.dictrl.decoder.de_littleA 6 13 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI6ITB_0[2] 5 9 5 #SB_LUT4
set_location uu2.r_data_reg[5] 2 4 5 #SB_DFFNE
set_location uu0.l_count_RNO[16] 1 2 7 #SB_LUT4
set_location uu0.l_count_RNI04591[10] 2 1 0 #SB_LUT4
set_location uu0.l_count[15] 1 1 2 #SB_DFFER
set_location Lab_UT.uu0.l_precount[2] 9 2 6 #SB_DFFR
set_location Lab_UT.uu0.l_count[15] 8 2 5 #SB_DFFER
set_location Lab_UT.didp.curr_LED_RNO[1] 8 5 0 #SB_LUT4
set_location Lab_UT.dictrl.r_dicAlarmTrig 9 10 3 #SB_DFF
set_location Lab_UT.dictrl.nextState_1_3_0_.m29 6 13 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_fast_RNIC98T[0] 5 13 3 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_14 8 3 7 #SB_LUT4
set_location uu2.l_count[0] 4 7 2 #SB_DFFR
set_location resetGen.reset_count[4] 6 3 2 #SB_DFF
set_location Lab_UT.uu0.delay_line[1] 4 7 4 #SB_DFFR
set_location Lab_UT.display.dOut_RNO_0[0] 11 4 2 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO[1] 11 11 0 #SB_LUT4
set_location Lab_UT.dictrl.r_enable1_RNICT7Q7_3 8 6 6 #SB_LUT4
set_location uu2.w_addr_displaying_nesr[1] 6 5 1 #SB_DFFNESR
set_location Lab_UT.dictrl.decoder.g0_10 7 13 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_2 4 8 1 #SB_DFF
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[2] 7 1 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_littleA_2 9 13 2 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_atSign_4 9 13 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret_RNI5RB74 4 9 1 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[1] 1 2 2 #SB_LUT4
set_location uu0.l_count[5] 4 3 0 #SB_DFFER
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[16].un198_ci_2 8 2 6 #SB_LUT4
set_location Lab_UT.display.cnt_RNI1STE1[2] 11 6 6 #SB_LUT4
set_location Lab_UT.dictrl.r_alarm_or_time 8 10 7 #SB_DFF
set_location Lab_UT.dictrl.nextState_RNO_3[1] 5 10 4 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_littleN_1 9 13 5 #SB_LUT4
set_location Lab_UT.display.dOut_RNO_1[3] 9 5 3 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNIO8T96[3] 7 8 0 #SB_LUT4
set_location uu2.w_addr_displaying_RNI12TI1[5] 4 5 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_5 6 3 7 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNO[3] 12 8 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21 4 10 1 #SB_DFF
set_location buart.Z_tx.Z_baudgen.counter_RNO[0] 1 7 5 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[4] 9 1 6 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q[2] 9 6 3 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_13 2 9 2 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter_RNII048[6] 1 6 6 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNO[0] 7 9 4 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNILAUP7_3 6 6 1 #SB_LUT4
set_location uu2.l_count_RNO[0] 4 7 2 #SB_LUT4
set_location uu2.bitmap[66] 5 6 3 #SB_DFFNSR
set_location uu2.bitmap[203] 6 7 3 #SB_DFFNSR
set_location resetGen.escKey 8 12 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable3_RNIUJ5K6_3 6 7 5 #SB_LUT4
set_location Lab_UT.dictrl.r_enable2_RNO_1 8 10 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_16 8 11 1 #SB_DFFSS
set_location uu0.vbuf_count_cntrl1.counter_gen_label[15].un187_ci_1 1 1 1 #SB_LUT4
set_location uu0.l_count_RNIFAQ9[13] 1 1 5 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[15] 8 2 5 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_2 5 15 2 #SB_LUT4
set_location uu0.l_count[16] 1 2 7 #SB_DFFER
set_location Lab_UT.uu0.l_precount[1] 9 2 5 #SB_DFFR
set_location Lab_UT.uu0.l_count[10] 8 2 0 #SB_DFFER
set_location Lab_UT.dictrl.nextState_1_3_0_.m5 8 12 6 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI7OMM33[1] 7 12 4 #SB_LUT4
set_location uu2.w_addr_displaying_RNIOA9K6[8] 4 4 2 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_11 4 4 3 #SB_LUT4
set_location uu2.l_count[3] 2 7 0 #SB_DFFR
set_location buart.Z_tx.shifter_RNO[1] 2 5 0 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNI0E1S4[3] 11 8 2 #SB_LUT4
set_location Lab_UT.dictrl.r_alarm_or_time_RNO_0 8 10 6 #SB_LUT4
set_location uu2.w_addr_user_nesr[8] 7 3 6 #SB_DFFNESR
set_location uu2.r_addr_RNO[4] 11 3 6 #SB_LUT4
set_location uu2.mem0.ram512X8_inst 3 3 0 #SB_RAM40_4K
set_location uu0.l_count_RNO[4] 1 1 7 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_15 7 15 4 #SB_LUT4
set_location uu2.vbuf_raddr.counter_gen_label[4].un404_ci 5 4 4 #SB_LUT4
set_location uu2.bitmap_RNIIOM81[66] 5 6 0 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.result_1[5] 9 1 7 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAStens_RNO 8 7 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_3_3_rep1 2 11 7 #SB_DFF
set_location Lab_UT.dictrl.nextState[2] 6 13 7 #SB_DFFE
set_location uu0.l_precount[1] 2 3 5 #SB_DFFR
set_location Lab_UT.display.dOut_RNO_1[0] 9 5 1 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q_RNIVG3M3[3] 11 7 7 #SB_LUT4
set_location uu2.mem0.ram512X8_inst_RNO_0 4 6 5 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q[1] 11 11 0 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.m15_bm 5 11 1 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i_a3[4] 6 8 0 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNIKTU5[2] 2 9 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_16 5 12 0 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_i_a3_0[4] 5 8 2 #SB_LUT4
set_location uu0.l_count_RNI96A32[18] 2 3 7 #SB_LUT4
set_location buart.Z_rx.bitcount_cry_c_RNIICRP5[1] 6 14 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_al_0_RNIB8DH[0] 9 11 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es_RNISCGV1[1] 6 15 5 #SB_LUT4
set_location Lab_UT.uu0.l_count_RNO[18] 7 1 0 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAMones 8 12 1 #SB_DFFR
set_location buart.Z_rx.Z_baudgen.counter[4] 5 16 6 #SB_DFF
set_location Lab_UT.uu0.l_count[13] 7 1 4 #SB_DFFER
set_location buart.Z_tx.shifter_RNO[4] 2 5 5 #SB_LUT4
set_location buart.Z_rx.Z_baudgen.un5_counter_cry_3_c 4 16 2 #SB_CARRY
set_location Lab_UT.dictrl.nextState_1_3_0_.m21_rn_1_0 4 11 6 #SB_LUT4
set_location uu2.vbuf_w_addr_user.counter_gen_label[4].un404_ci 8 4 7 #SB_LUT4
set_location uu0.l_count_RNO[7] 2 2 6 #SB_LUT4
set_location Lab_UT.didp.Sones_subtractor.q[3] 11 7 1 #SB_DFFSR
set_location Lab_UT.didp.Sones_alarm.q[3] 9 7 4 #SB_DFFSR
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_7 8 13 7 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_16 7 15 3 #SB_LUT4
set_location uu2.r_addr_esr[3] 5 4 6 #SB_DFFESR
set_location buart.Z_tx.Z_baudgen.un2_counter_cry_3_c 1 6 2 #SB_CARRY
set_location Lab_UT.dictrl.currState_0_ret_29_RNO_1 1 10 2 #SB_LUT4
set_location uu2.w_addr_displaying[2] 6 6 7 #SB_DFFNSR
set_location Lab_UT.dictrl.currState_al_ret 9 10 7 #SB_DFF
set_location Lab_UT.dictrl.r_enable3_RNIUJ5K6 5 5 7 #SB_LUT4
set_location Lab_UT.dictrl.dicLdASones 7 11 6 #SB_DFFR
set_location uu2.w_addr_user_nesr_RNI7UV5[8] 7 3 1 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[11].un143_ci_0 7 2 2 #SB_LUT4
set_location Lab_UT.didp.Mones_alarm.q_RNO[2] 9 6 3 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q20_0_i 4 3 6 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m33 5 10 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_4 5 14 4 #SB_LUT4
set_location Lab_UT.didp.Stens_subtractor.q_RNO_0[0] 9 8 7 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_0_rep2_RNIBGCI9 4 11 0 #SB_LUT4
set_location uu2.l_count[9] 2 8 1 #SB_DFFR
set_location Lab_UT.didp.Mtens_subtractor.q_RNI775L5[3] 11 8 1 #SB_LUT4
set_location uu2.r_addr_RNO[2] 5 3 0 #SB_LUT4
set_location uu2.w_addr_user[2] 8 4 6 #SB_DFFNSR
set_location resetGen.reset_count_RNO[1] 8 5 4 #SB_LUT4
set_location Lab_UT.didp.Mtens_subtractor.q_RNO_0[2] 11 9 0 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_5 7 12 1 #SB_DFFSR
set_location Lab_UT.dictrl.currState_0_ret_29_RNIDFRSEE 6 12 6 #SB_LUT4
set_location Lab_UT.displayAlarm[2] 11 4 4 #SB_DFF
set_location Lab_UT.dictrl.r_enable4_RNIFP5N8_0 6 8 1 #SB_LUT4
set_location buart.Z_rx.hh_RNIJ3K62[0] 5 15 0 #SB_LUT4
set_location Lab_UT.didp.Mtens_alarm.q_RNI5TK11[2] 8 9 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_RNI2SKC[3] 7 13 6 #SB_LUT4
set_location buart.Z_tx.shifter[1] 2 5 0 #SB_DFFER
set_location Lab_UT.dictrl.r_enable4_RNI71SJ6 6 8 4 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_18 4 12 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_1_RNINTRN4 4 10 2 #SB_LUT4
set_location Lab_UT.bcd2segment3.segmentUQ_0[5] 5 7 0 #SB_LUT4
set_location uu2.r_addr[0] 5 3 4 #SB_DFFSR
set_location buart.Z_rx.shifter_fast[7] 4 14 3 #SB_DFFER
set_location Lab_UT.display.dOut_RNO_2[1] 11 6 3 #SB_LUT4
set_location uu2.w_addr_user_RNO[5] 9 3 0 #SB_LUT4
set_location uu2.bitmap_RNIOS152[72] 5 7 7 #SB_LUT4
set_location uu0.vbuf_count_cntrl1.result_1[17] 2 2 2 #SB_LUT4
set_location uu2.vbuf_w_addr_displaying.N_39_i_i 6 5 2 #SB_LUT4
set_location Lab_UT.display.dOut[4] 9 4 6 #SB_DFF
set_location Lab_UT.dictrl.nextState_1_3_0_.g0_1 4 9 7 #SB_LUT4
set_location buart.Z_rx.bitcount_es[0] 6 15 7 #SB_DFFES
set_location Lab_UT.display.dOut_RNO_3[1] 11 6 7 #SB_LUT4
set_location Lab_UT.didp.Mones_subtractor.q_RNITOVP[1] 11 11 2 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m15_ns 5 11 2 #SB_LUT4
set_location Lab_UT.dictrl.decoder.de_cr_1_1 7 15 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIQ7IPD1[0] 4 10 7 #SB_LUT4
set_location uu2.bitmap[194] 6 8 1 #SB_DFFNSR
set_location Lab_UT.didp.Stens_subtractor.q_RNI8PD76[1] 9 8 3 #SB_LUT4
set_location Lab_UT.bcd2segment4.segmentUQ_i_a3_0[4] 7 9 2 #SB_LUT4
set_location Lab_UT.uu0.vbuf_count_cntrl1.counter_gen_label[7].un99_ci_0 8 1 1 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNI421C4[0] 6 10 1 #SB_LUT4
set_location uu2.trig_rd_det_RNINBDQ[1] 5 3 2 #SB_LUT4
set_location uu2.l_count_RNI9S834[1] 2 7 4 #SB_LUT4
set_location uu0.sec_clkD 4 8 4 #SB_DFF
set_location Lab_UT.uu0.l_count_RNIC7FP1[18] 9 2 3 #SB_LUT4
set_location Lab_UT.dictrl.r_enable4_RNINHFQA 6 8 7 #SB_LUT4
set_location Lab_UT.dictrl.nextState_1_3_0_.m39 5 11 4 #SB_LUT4
set_location Lab_UT.dictrl.currState_2[1] 2 11 3 #SB_DFF
set_location Lab_UT.didp.Stens_alarm.q[3] 9 7 3 #SB_DFFSR
set_location Lab_UT.dictrl.currState_2_RNIMNQP4[2] 7 11 5 #SB_LUT4
set_location uu2.w_addr_user[4] 9 3 1 #SB_DFFNSR
set_location buart.Z_rx.shifter[5] 5 14 7 #SB_DFFER
set_location Lab_UT.dictrl.nextState_RNIO37J1[1] 2 10 5 #SB_LUT4
set_location uu0.l_count_RNI2CNU[11] 1 2 0 #SB_LUT4
set_location buart.Z_tx.Z_baudgen.counter[4] 1 6 3 #SB_DFF
set_location Lab_UT.didp.Mtens_alarm.q_RNI7VK11[3] 7 8 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIKSEU7_0[0] 2 12 1 #SB_LUT4
set_location Lab_UT.display.dOut_RNO[2] 11 4 6 #SB_LUT4
set_location Lab_UT.dictrl.decoder.g0_4_2 9 13 4 #SB_LUT4
set_location buart.Z_tx.bitcount_RNIVE1P1_0[3] 1 3 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_ret 2 11 4 #SB_DFF
set_location Lab_UT.dictrl.currState_2_0_rep1 5 12 7 #SB_DFF
set_location Lab_UT.dictrl.currState_0_ret_28_RNO_4 1 11 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_21_RNI88818 8 13 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_0_ret_12_RNO 8 11 0 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uu2.w_addr_displaying_RNI2NHS5[8] 5 5 2 #SB_LUT4
set_location Lab_UT.dictrl.dicLdAMones_RNI3BNL5 8 12 3 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIQ4BA8[1] 7 13 2 #SB_LUT4
set_location Lab_UT.dictrl.currState_2_RNIL8B7M[1] 5 10 7 #SB_LUT4
set_io o_serial_data 8
set_io led[1] 98
set_io to_ir 105
set_io sd 107
set_io led[4] 95
set_io led[2] 97
set_io led[0] 99
set_io from_pc 9
set_io led[3] 96
set_io clk_in 21
